*{
    box-sizing: border-box;
    line-height: 25px;
    font-family: sans-serif;
}
body
{
    background-color:hsl(30, 54%, 90%);
    
    
}
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content:center ;
    place-items: center;
    
    
    
    
}
.container
{
    background-color:hsl(0, 0%, 100%) ;
    max-width: 730px;
    padding: 40px;
    max-height: fit-content;
    border-radius: 10px;
   
    
}
.ptime
{
    padding: 10px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}
h4{
    color: hsl(332, 51%, 32%);
}
h3
{
    color: hsl(14, 45%, 36%);
}
img{
    width: 620px;
    height: fit-content;
    border-radius:6px;
}
span
{
    color: hsl(30, 10%, 34%);
   
    font-weight: bolder;
}
.ig
{
    color:hsl(30, 10%, 34%) ;
}
/* *
{
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
   align-items: center;
   justify-content: center;

}
.con
{
    display: flex;
    flex-direction: column;
   align-items: center;
} */
footer span
{
    color: hsl(14, 45%, 36%);
}
footer div
{
    
    display: flex;
    flex-direction: row;
    gap:290px
}
